.background-carousel {
    /* background-color: rgb(255, 0, 43); */
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 30vh; 
}

.background-structure {
    /* background-color: rgb(255, 0, 43); */
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 30vh; 
}

.carousel-image {
    height: 200px; 
    object-fit: contain; 
}

.carousel-control-prev,
.carousel-control-next {
    display: none;
}

.carousel-indicators .active {
    background-color: rgb(255, 115, 0);; 
}

.carousel-indicators {
    bottom: -50px;
}

