.custom-table {
    width: 100%; 
    border-collapse: collapse; 
}

.custom-table thead th {
    background-color: #ff8c00; 
    color: white; 
    border: none; 
    text-align: center;
    padding: 35px 0; 
    font-size: 30px;
}

.custom-table tr {
    background-color: #333; 
}

.custom-table td {
    color: white; 
    border: none; 
    vertical-align: middle; 
    padding: 35px; 
    font-size: 22px;
}

.custom-table .nivel-cell {
    background-color: #555; 
    text-align: center; 
    font-family: 'Fira Sans Condensed , sans-serif'; 
    font-weight: 900;
    color: white; 
}

.custom-table .nivel-cell:nth-child(4n+2) {
    background-color: #444; 
}

.custom-table .description-cell {
    color: #ccc; 
    background-color: #333;
    font-family: 'Fira Sans Condensed , sans-serif'; 
    font-weight: 200;
    text-align: center;
}

@media (max-width: 280px) {
    .custom-table thead th {
        background-color: #ff8c00; 
        color: white; 
        border: none; 
        text-align: center;
        padding: 20px 0; 
        font-size: 20px;
    }
    
    .custom-table td {
        color: white; 
        border: none; 
        vertical-align: middle; 
        padding: 20px; 
        font-size: 15px;
    }
  }